body{
    background-color: rgb(103, 233, 110) !important;
    display: grid;
    justify-content: center;
    
    text-align: center !important;
    gap: 3rem  !important ;
}

.card{
    border: 4px solid blue;
    border-radius: 10px;
    box-shadow: 5px 5px 2px  rgb(199, 32, 180);
    background:lightgoldenrodyellow;
    max-height: 80rem;
    width:30rem;
    height: 37rem;
   
}

.card-img-top{
    justify-content: center;
    place-content: center;
    text-align: center;
    border: 2px solid orange;
    border-radius: 5px;
    width:10rem;
    height: 10rem;
    margin:auto;
}
.btn {
 
    line-height: normal;
    border: 2px solid orange;
}
.btn:hover{
    background-color: orangered;
}

